*{
    box-sizing: border-box;
    color: rgb(35, 44, 81);
    font-family: 'Be Vietnam Pro', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 7.5rem 5rem;

}

.ul-nav{
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

.ul-nav li{
    font-weight:lighter;
}

.btn-standard{
    background-color: rgb(242, 95, 58);
    border-radius: 2rem;
    color:#fff;
    padding: 1rem 2rem;
}

#icon-burger{
    display: none;
}

.home{
    display: flex;
    margin:0 12rem 5rem;
    justify-content: space-around;
    
}
.principal{
    width: 50%;

}
.principal p{
    color:black;
    margin-bottom: 2rem;
    width: 50%;
}

h1{
    font-size: 3.5rem;
    margin-top: 5rem;
    width: 60%;
}

.secundario{
    display: flex;
    margin:2rem 14rem 10rem;
}

.diferencias{
    width: 50%;
}

.diferencias p{
    color: black;
    font-weight: 500;
    margin-top: 3rem;
    width: 45%;
}

.lista{
    display: flex;
    justify-content: flex-end;
    width: 50%;

}

.diferencias h2{
    font-size: 2.25rem;
    width: 60%;
}

.end{
    display: flex;
    justify-content: flex-end;

}

ol {
    counter-reset: item;
    list-style: none;
    width: 80%;
    
}

ol li {
    counter-increment: item;
    font-size: 1rem;
}

ol li p:first-child{
    font-weight: 700;
}


ol li:before {
    background-color: rgb(242, 95, 58);
    border-radius: 2rem;
    content: counter(item);
    color: white;
    font-weight: 700;
    margin: 0%;
    padding: 0.5rem 2rem;
    position: relative;
    right: 5rem;
    top: 1.5rem;
    text-align: center;
    width: 1.2em;
}

ol li p:nth-child(2){
    color: #8C8C94;
}

.comentarios{
    margin: 5rem;
    text-align: center;
}
.comentarios h2{
    font-size: 2.5rem;
    margin-bottom: 8rem;
    text-align: center;
}

.card-container{
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
}

.card{
    text-align: center;
    width: 30%;
}
.card p:last-child{
    color: #B9B9C1;
}
.card img{
    bottom: 3rem;
    position: relative;
    width: 6rem;
}

.card p{
    margin-bottom: 2rem;
}

#btn-comentarios{
    margin: 5rem;
}

.start{
    background-color:rgb(242, 95, 58);
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    padding: 8rem;
}

.start p{
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    width: 40%;
}

.start a{
    align-self: center;
    background-color: #fff;
    color: rgb(242, 95, 58);
    
}

footer{
    background-color: rgb(29, 30, 37);
    display: flex;
    height: 20rem;
    justify-content: space-around;
    padding: 5rem;
}

#copyright{
    color: #8C8C94;
    display: none;
}

.ftr-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.redes ul{
    display: flex;
    justify-content: space-between;
}

.ftr-2{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.ftr-2 ul li{
    margin-bottom: 1rem;
}
.ftr-2 a{
    color: #fff;
}

.ftr-3{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.ftr-3 input{
    background-color: #fff;
    color: rgb(29, 30, 37);
    margin-right: 1rem;
}

.ftr-3 p{
    color: #8C8C94;
}
.btn-standard:hover{
    background-color: rgb(255, 118, 81);
}

#btn-start:hover,input[type=email]:hover{
    background-color: rgb(230, 230, 230);
}

@media (max-width:480px){
    
    *{
        margin: 0%;
        padding: 0%;
    }

    .ul-nav,#btn-nav{
        display: none;
    }
    #icon-burger{
        display: inline;
    }
    header{
        margin: 2rem;
        
    }
    .home{
        align-items: center;
        flex-direction: column-reverse;
        margin: 0 0 5rem 0;
        width: 100%;
    }

    .principal{
        background-image: url(imagenes/bg-tablet-pattern.svg);
        background-position: top;
        background-size: 30rem;
        background-repeat: no-repeat;
        width: 100%;
    }
    .principal p,h1,#graf-home{
        padding: 1rem;
        text-align: center;
        width: 100%;
    }

    .secundario,.secundario p,.secundario h2,.lista,.diferencias{
        align-items: center;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        text-align: center;
        width: 100%;
    }

    .diferencias{
        margin-bottom: 2rem;
        width: 80%;
    }

    .secundario h2{
        margin-bottom: 2rem;
    }

    ol{
        margin: 0 3rem;
        width: 100%;
    }
    ol li:before{
        right: 10rem;
        top: 1.8rem;
    }
    ol li p:first-child{
        background-color: rgb(255, 239, 234);
        margin-bottom: 1rem;
        padding:0.5rem 0 0.5rem 5rem;
        text-align: start;
    }

    ol li p:nth-child(2){
        text-align: left;
    }

    .num-li{
        margin-bottom: 2rem;
    }

    .comentarios,.card-container,.card{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .card-container{
        background-color: #fff;
    }

    #card-1,#card-2{
        display: none;
    }
    #card-3{
        background-color: rgb(245, 245, 245);
        margin: 0 1rem;
    }

    .start{
        flex-direction: column;
        margin: 0%;
        padding: 3rem 0;
        width: 100%;
        background-image: url(imagenes/bg-simplify-section-mobile.svg);
        background-repeat: no-repeat;
    }

    .start p{
        margin: 0;
        padding: 2rem;
        text-align: center;
        width: 100%;
    }

    footer{
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 100%;
        margin: 0%;
        padding: 0%;
    }

    .ftr-1,.ftr-2,.ftr-3{
        margin-top: 2rem;
        justify-content: center;
        width: 100%;
    }

    .ftr-1{
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    #copyright{
        display: block;
        margin: 2rem 0;
    }

    #logo-ftr{
        margin-top: 2rem;
        width: 10rem;
    }

    .redes{
        width: 60%;
    }

    .ftr-1 a img{
        width: 2rem;
    }

    .ftr-2 ul{
        padding: 0 3rem;
    }

    .ftr-3 p{
        display: none;
        width: 50%;
    }

}